.fb3d {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.fb3d .nav {
  margin-bottom: 15px;
}

.fb3d .thumbnail {
  text-align: center;
}

iframe.fb3d-mount-frame {
  width: 100%;
}

.fb3d .show-advanced {
  text-align: right;
}
.fb3d .show-advanced .checkbox {
  margin: 0;
}

.fb3d .outline .items {
  margin-top: 5px;
}
.fb3d .outline .children {
  padding-left: 35px;
}
.fb3d .outline .item {

}
.fb3d .outline input {
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
}
.fb3d .outline .title {
  width: 200px;
  margin-right: 5px;
}
.fb3d .outline .dst {
  width: 140px;
}
.fb3d .outline .fields {
  position: relative;
  border: 1px solid #eee;
  padding: 5px 5px 0px 5px;
  margin-bottom: 5px;
}
.fb3d .outline .inputs {
  width: calc(100% - 100px);
}
.fb3d .outline .cmds {
  text-align: right;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 100px;
}

.fb3d .pages .page {
  padding: 10px;
  border: 1px solid #CCC;
  margin: 10px 0;
  border-radius: 5px;
}

.fb3d .pages .page.disabled * {
  pointer-events:none;
  opacity: .8;
}

.fb3d .menu-control {

}
.fb3d .menu-control li {
  display: inline-block;
  padding-right: 20px;
}

.fb3d .control a {
  margin-left: 10px;
}

.fb3d .page-editor * {
  box-sizing: border-box;
}

.fb3d .page-editor {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}

.fb3d .page-editor::before {
  content: ' ';
  position: absolute;
  background-color: rgba(0,0,0,.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.fb3d .page-editor .content {
  position: absolute;
  background-color: #f0f0f1;
  left: 20px;
  top: 52px;
  width: calc(100% - 40px);
  height: calc(100% - 72px);
  border-bottom: 1px solid #c3c4c7;
  min-width: 500px;
  overflow: hidden;
}

.fb3d .page-editor .header {
  position: relative;
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid #c3c4c7;
}
.fb3d .page-editor .header h1 {
  margin: 0;
  padding: 0;
}
.fb3d .page-editor .header .cmds {
  position: absolute;
  right: 10px;
  top: 12px;
}
.fb3d .page-editor .header .cmds a {
  display: inline-block;
  font-size: 20px;
  padding-bottom: 5px;
  /* padding-top: 0; */
  margin: 0;
  line-height: 20px;
  border: 1px solid #337ab7;
  width: 28px;
  text-align: center;
  margin-left: 5px;
}


.fb3d .page-editor .main {
  position: relative;
  height: calc(100% - 50px);
}

.fb3d .page-editor .toolbar {
  position: absolute;
  height: 100%;
  width: 100px;
  top: 0;
  left: 0;
  padding: 10px;
  overflow: hidden;
}

.fb3d .page-editor .toolbar a {
  display: block;
  text-align: center;
  padding: 3px;
  border: 1px solid #337ab7;
}
.fb3d .page-editor .active a {
  background-color: rgba(51,122,183,.2);
}
.fb3d .page-editor a:hover {
  background-color: rgba(51,122,183,.1);
}
.fb3d .page-editor a:active {
  background-color: rgba(51,122,183,.2);
}
.fb3d .page-editor .toolbar .dashicons {
  display: block;
  width: auto;
  height: 20px;
  font-size: 20px;
}
.fb3d .page-editor .body {
  padding: 10px;
  position: absolute;
  width: calc(100% - 400px);
  height: 100%;
  min-height: 100px;
  top: 0;
  left: 100px;
  border-left: 1px solid #c3c4c7;
  border-right: 1px solid #c3c4c7;
}
.fb3d .page-editor .page {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: white;
  width: 100px;
  height: 130px;
  overflow: hidden;
}
.fb3d .page-editor .page .background {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.fb3d .page-editor .page.active-tool {
  cursor: crosshair;
}

fb3d-html {
  display: block;
}
.fb3d-block {
  position: absolute;
  background-color: rgba(0,0,255, .2);
  cursor: pointer;
  z-index: 1;
}

.fb3d-block .bgicon.dashicons {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  display: block;
  color: #fff;
  z-index: -1;
  opacity: .2;
  pointer-events: none;
}

.fb3d-audio audio, .fb3d-link a, .fb3d-iframe iframe, .fb3d-video video, .fb3d-youtube .youtube {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.fb3d-image, .fb3d-youtube .youtube {
  text-align: center;
}
.fb3d-link a {
  cursor: pointer;
  pointer-events: none;
}
.fb3d-iframe iframe {
  border: 0;
}
.fb3d-image img, .fb3d-youtube img {
  max-width: 100%;
  max-height: 100%;
}

.fb3d .page-editor .markers {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: move;
}
.fb3d .page-editor .markers .resize, .fb3d .page-editor .markers .move {
  height: 10px;
  width: 10px;
  position: absolute;
  background-color: rgba(0,0,255, .5);
  z-index: 11;
}
.fb3d .page-editor .markers .move {
  top: -5px;
  left: calc(50% - 5px);
  z-index: 10;
}
.fb3d .page-editor .markers .right-top, .fb3d .page-editor .markers .left-bottom {
  cursor: nesw-resize;
}
.fb3d .page-editor .markers .left-top, .fb3d .page-editor .markers .right-bottom {
  cursor: nwse-resize;
}

.fb3d .page-editor .left-top {
  top: -5px;
  left: -5px;
}
.fb3d .page-editor .right-top {
  top: -5px;
  right: -5px;
}
.fb3d .page-editor .left-bottom {
  bottom: -5px;
  left: -5px;
}
.fb3d .page-editor .right-bottom {
  bottom: -5px;
  right: -5px;
}

.fb3d .page-editor .items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.fb3d .page-editor .props {
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0;
  right: 0;
  padding: 10px;
  overflow-y: auto;
}
.fb3d .page-editor .props .cmds a {
  padding: 3px 10px;
  border: 1px solid #337ab7;
}
.fb3d .page-editor .props h3 {
  margin-top: 0;
}
