<div class="main">

  <div class="view">
  </div>

  <div class="toc widFloatWnd float-wnd hidden fade">
    <div class="head">
      <$tr>Table of contents</$tr>
      <a class="cmd close cmdCloseToc" title="<$tr>Close</$tr>">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="body">
      <ul class="h-menu widTocMenu">
        <li><a class="cmd cmdBookmarks"><$tr>Bookmarks</$tr></a></li>
        <li><a class="cmd cmdThumbnails"><$tr>Thumbnails</$tr></a></li>
        <li><a class="cmd cmdSearch"><$tr>Search</$tr></a></li>
      </ul>
      <div class="widBookmarks tocview">

      </div>
      <div class="widThumbnails tocview">

      </div>
      <div class="widSearch tocview">

      </div>
    </div>
  </div>

  <div class="share widShare float-wnd hidden fade">
    <div class="head">
      <$tr>Share</$tr>
      <a class="cmd close cmdCloseShare" title="<$tr>Close</$tr>">
        <i class="fa fa-times"></i>
      </a>
    </div>
    <div class="body">
      <div class="shareview">
        <div class="txtShareLink link"></div>
        <div class="btns">
          <a class="cmd cmdFacebook btn"><i class="fa fa-facebook-f" title="<$tr>Facebook</$tr>"></i></a>
          <a class="cmd cmdTwitter btn"><i class="fa fa-twitter" title="<$tr>Twitter</$tr>"></i></a>
          <a class="cmd cmdEmail btn"><i class="fa fa-at" title="<$tr>Email</$tr>"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="widLoadingProgress loading-progress hidden fade">
    <div class="progress">
      <div class="loader-box">
        <div class="loader">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="txtLoadingProgress caption">
    </div>
  </div>

  <div class="widLoading page-loading hidden fade">
    <div class="loader-box">
      <div class="loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

  <div class="widUserMessage txtUserMessage user-message hidden fade">
  </div>

  <div class="widPendingPlay pending-play hidden hbtn fade">
    <a class="cmd cmdPendingPlay"><i class="fa fa-play" title="<$tr>Play</$tr>"></i></a>
  </div>

  <div class="widControls ctrls hidden fade">
    <div class="prev hbtn">
      <a class="cmd cmdBigBackward"><i class="fa fa-angle-left" title="<$tr>Previous page</$tr>"></i></a>
    </div>

    <div class="next hbtn">
      <a class="cmd cmdBigForward"><i class="fa fa-angle-right" title="<$tr>Next page</$tr>"></i></a>
    </div>

    <div class="tbox">
      <div class="toolbar widToolbar">
        <ul class="buttons">
          <li><a class="cmd cmdZoomIn"><i class="fa fa-search-plus" title="<$tr>Zoom in</$tr>"></i></a></li>
          <li><a class="cmd cmdZoomOut"><i class="fa fa-search-minus" title="<$tr>Zoom out</$tr>"></i></a></li>
          <li><a class="cmd cmdDefaultZoom"><i class="fa fa-compress" title="<$tr>Fit view</$tr>"></i></a></li>
          <li><a class="cmd cmdAutoPlay" title="<$tr>Auto play</$tr>"><i class="fa fa-play active-hidden"></i><i class="fa fa-pause active-visible"></i></a></li>
          <li><a class="cmd cmdToc"><i class="fa fa-bookmark" title="<$tr>Table of contents</$tr>"></i></a></li>
          <li><a class="cmd cmdBackward"><i class="fa fa-backward" title="<$tr>Previous page</$tr>"></i></a></li>
          <li>
            <div class="pages">
              <input type="text" class="number inpPage" maxlength="4" placeholder="1">
              <input type="text" class="amount inpPages" readOnly maxlength="4" placeholder="1">
            </div>
          </li>
          <li><a class="cmd cmdForward"><i class="fa fa-forward" title="<$tr>Next page</$tr>"></i></a></li>
          <li><a class="cmd cmdShare"><i class="fa fa-share-alt" title="<$tr>Share</$tr>"></i></a></li>
          <li><a class="cmd cmdFullScreen"><i class="fa fa-arrows-alt" title="<$tr>Full screen</$tr>"></i></a></li>
          <li class="dropup widSettings">
            <a class="cmd menu-toggle"><i class="fa fa-ellipsis-h" title="<$tr>More</$tr>"></i></a>
            <ul class="v-menu hidden fade">
              <li><a class="cmd cmdSmartPan"><i class="fa fa-eye"></i> <$tr>Smart pan</$tr></a></li>
              <li><a class="cmd cmdSinglePage"><i class="fa fa-file-o"></i> <$tr>Single page</$tr></a></li>
              <li><a class="cmd cmdSounds"><i class="fa fa-volume-up"></i> <$tr>Sounds</$tr></a></li>
              <li><a class="cmd cmdStats"><i class="fa fa-line-chart"></i> <$tr>Stats</$tr></a></li>
              <li><a class="cmd cmdPrint"><i class="fa fa-print"></i> <$tr>Print</$tr></a></li>
              <li><a class="cmd cmdSave"><i class="fa fa-download"></i> <$tr>Download</$tr></a></li>
              <li class="divider"></li>
              <li><a class="cmd cmdGotoFirstPage"><i class="fa fa-fast-backward"></i> <$tr>Goto first page</$tr></a></li>
              <li><a class="cmd cmdGotoLastPage"><i class="fa fa-fast-forward"></i> <$tr>Goto last page</$tr></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
